* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}
html {
  background-color: rgb(47, 69, 116);
}
body {
  color: white;
}
h2 {
  color: coral;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: darkgoldenrod;
}
a:visited {
  color: cyan;
  text-decoration: none;
}

#company-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  display: flex;
  flex-flow: column wrap;
  border: 2px;
  border-color: rgb(247, 97, 3);
  border-style: solid;
  justify-content: flex-start;
  text-align: left;
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(24, 38, 68);
}
.card:hover {
  box-shadow: 0 0 10px rgba(240, 107, 70, 0.641);
}
.show-users {
  align-self: flex-end;
  width: inherit;
}
