* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}
html {
  background-color: rgb(47, 69, 116);
}
body {
  color: white;
}
h2 {
  color: coral;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: darkgoldenrod;
}
a:visited {
  color: cyan;
  text-decoration: none;
}

#company-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  display: flex;
  flex-flow: column wrap;
  border: 2px;
  border-color: rgb(247, 97, 3);
  border-style: solid;
  justify-content: flex-start;
  text-align: left;
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(24, 38, 68);
}
.card:hover {
  box-shadow: 0 0 10px rgba(240, 107, 70, 0.641);
}
.show-members {
  align-self: flex-end;
  width: inherit;
}

#search {
  width: 20em;
}
#results {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  color: black;
}
.search-result:hover {
  background-color: #eee;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* hide the loading element by default */
}

.spinner {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
